emAPI/EnergyManagerWebApp/Service References/emAPIService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createTariffBand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="upperLimit" type="xs:int" />
        <xs:element minOccurs="0" name="lowerLimit" type="xs:int" />
        <xs:element minOccurs="0" name="rate" type="xs:double" />
        <xs:element minOccurs="0" name="tariffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTariffBandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTariffBandResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTariff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tariffId" type="xs:int" />
        <xs:element minOccurs="0" name="newTariff" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editTariffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editTariffResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTariff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tariffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTariffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTariffResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
        <xs:element minOccurs="0" name="saveAfterValidation" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="forecastNextInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="forecastNextInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forecastNextInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deletePropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deletePropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBenchmarks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBenchmarksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateBenchmarksResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readingId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getReadingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeterReadings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMeterReadingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMeterReadingsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumReadingDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumReadingDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMinimumReadingDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumReadingDateForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumReadingDateForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMinimumReadingDateForEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastInvoiceDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastInvoiceDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getLastInvoiceDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailsForMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDetailsForMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDetailsForMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataFromMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataFromMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataFromMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataFromMeterByInterval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intervalId" type="xs:int" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataFromMeterByIntervalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataFromMeterByIntervalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createElectricityMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="scalingFactor" type="xs:double" />
        <xs:element minOccurs="0" name="numbDigits" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createElectricityMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createElectricityMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createGasMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serialNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="meterCoefficient" type="xs:double" />
        <xs:element minOccurs="0" name="numbDigits" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createGasMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createGasMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMeterReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reading" type="xs:int" />
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createMeterReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createMeterReadingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="newMeter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editMeterReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readingId" type="xs:int" />
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="newMeter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editMeterReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editMeterReadingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteReading">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readingId" type="xs:int" />
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteReadingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteReadingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoicesForMeter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoicesForMeterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInvoicesForMeterResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
        <xs:element minOccurs="0" name="billDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kWh" type="xs:int" />
        <xs:element minOccurs="0" name="consumptionCharge" type="xs:double" />
        <xs:element minOccurs="0" name="standingCharge" type="xs:double" />
        <xs:element minOccurs="0" name="otherCharge" type="xs:double" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
        <xs:element minOccurs="0" name="newInvoice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteInvoiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPeriodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPeriodsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTariff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tariffId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTariffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTariffResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumTariffDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumTariffDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMinimumTariffDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumTariffDateForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMinimumTariffDateForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMinimumTariffDateForEditResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTariff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:double" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="standingChargePeriodId" type="xs:int" />
        <xs:element minOccurs="0" name="bandingPeriodId" type="xs:int" />
        <xs:element minOccurs="0" name="meterId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createTariffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createTariffResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usernameIsUnique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="usernameIsUniqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameIsUniqueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emailIsUnique">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="emailIsUniqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailIsUniqueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="forename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertiesForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertiesForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPropertiesForUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComparativeCostsForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getComparativeCostsForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getComparativeCostsForUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="newUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editUserResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatePasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPropertyTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="postcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="floorArea" type="xs:int" />
        <xs:element minOccurs="0" name="numbBedrooms" type="xs:int" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyTypeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="heatingId" type="xs:int" />
        <xs:element minOccurs="0" name="buildingId" type="xs:int" />
        <xs:element minOccurs="0" name="wallId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertyTypeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getPropertyTypeIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeatingTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeatingTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHeatingTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuildingTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuildingTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBuildingTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWallTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getWallTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWallTypesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTotalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getTotalDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getElecData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getElecDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getElecDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getGasDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getGasDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBenchmarkForProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBenchmarkForPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBenchmarkForPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnonymousProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnonymousPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAnonymousPropertiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataAtProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="intervalId" type="xs:int" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataAtPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDataAtPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuildingType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuildingTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getBuildingTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeatingType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHeatingTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getHeatingTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWallType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getWallTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getWallTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMostRecentDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
        <xs:element minOccurs="0" name="dataTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMostRecentDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMostRecentDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFloorArea">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFloorAreaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getFloorAreaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyId" type="xs:int" />
        <xs:element minOccurs="0" name="newProperty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editPropertyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>